.grid {
  display: block;
  width: 80%;
  margin: 2rem auto;
  &-sizer { width: 120px; }
  // sizer relative to .grid container
  .gutter-sizer { width: 10%; }
  // gutter is doubled, so each item minus half of it

  &-item {
    display: block;
    width: 20%;
    height: auto;
    margin-bottom: 32px;

    &-2 {
      width: 40%;
      margin-bottom: 32px;
    }
  }
}

.nav-pills .nav-link,
.nav-pills .show > .nav-link {
  background-color: #fff;
  color: #343434;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link.active {
  background-color: #dee2e6;
  color: #343434;
}
