.bgcolor--facebook {
  background-color: #4667a9;
}

.bgcolor--twitter {
  background-color: #1da1f2;
}

.bgcolor--yellow {
  background-color: #fee52c;
}

.bgcolor--blue {
  background-color: #35cff8;
}

.bgcolor--darkblue {
  background-color: #2097fd;
}

.bgcolor--gradient-blue {
  background-image: linear-gradient(270deg, #35cff8, #2097fd);
  background-origin: border-box;
}

.header__bgcolor {
  background-color: #163851;
}

.hero__bgcolor {
  background-color: #f5f6f8;
}
