.icon {
  display: inline-block;
  min-width: 24px;
  width: 24px;
  min-height: 24px;
  height: 24px;
  text-align: center;
}

.icon--large {
  display: inline-block;
  text-align: center;
  padding: 6px 12px;
  width: 36px;
  height: 36px;
  flex-grow: 0;
}
